* {
  font-family: Arial;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  padding-top: 80px;
}
header {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  box-shadow: #ffffff 0px -12px 26px 8px;
  background: #111111;
}
header div#nav {
  float: right;
}
header div#nav a {
  float: left;
  color: #aaaaaa;
  line-height: 80px;
  text-decoration: none;
  padding-right: 40px;
  font-size: 20px;
}
section {
  padding: 80px 0px;
  background: #111111;
}
section:nth-of-type(odd) {
  text-align: right;
}
section > div {
  width: 1000px;
  margin: 0 auto;
}
section > div.title {
  font-size: 45pt;
  padding: 40px;
  color: #666666;
}
section > div.content {
  color: #666666;
  font-size: 12pt;
}
section > div.content img.musician {
  width: 100%;
}
section > div.content form {
  width: auto;
  padding-top: 20px;
}
section > div.content form ul li {
  list-style: none;
  padding: 4px;
  font-size: 14pt;
}
section > div.content form ul li label {
  padding-right: 10px;
  text-align: left;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
section > div.content form ul li input,
section > div.content form ul li textarea {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px;
  color: #666666;
  width: 300px;
  max-width: 300px;
}
section > div.content form ul li input[type="submit"],
section > div.content form ul li textarea[type="submit"] {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-top: 8px;
  width: 218px;
  font-weight: bold;
}
div.image_spacer {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
div.image_spacer img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
footer {
  background: #111111;
}
footer ul {
  padding: 20px;
  margin: 0 auto;
  color: #666666;
  list-style: none;
  text-align: center;
}
footer ul li {
  margin: 4px;
}
footer ul li a {
  color: #666666;
  text-decoration: none;
}
footer ul li a:hover {
  color: #888888;
}
.float_container {
  clear: both;
  width: 100%;
}
.float_container > .small {
  width: 30%;
}
.float_container > .wide {
  width: 70%;
}
.float_container > .left {
  float: left;
}
.float_container > .right {
  float: right;
}
.float_container:after {
  content: '';
  display: block;
  clear: both;
}
