* {
  font-family: Arial;
}

//@body-background: #FFF;
@body-background: #111;
@header-height: 80px;
//@main-color: #AAA;
@color-main: #666;
@color-light: #888;
@color-bright: #AAA;
@font-size-main: 12pt;
@font-size-big: 14pt;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  padding-top: @header-height;
}

header {
  position: fixed;
  top: 0px;
  height: @header-height;
  width: 100%;
  //background: white;
  box-shadow: #FFF 0px -12px 26px 8px;
//  background: linear-gradient(#999, #444 10%, @body-background);
  background: @body-background;
  div#nav {
    float: right;
    a {
      float: left;
      //color: #888;
      color: @color-bright;
      line-height: @header-height;
      text-decoration: none;
      padding-right: 40px;
      font-size: 20px;
    }
  }

}

section {
  &:first-of-type {
//    border-top: 2px solid #444;
  }
  padding: 80px 0px;
  background: @body-background;
  &:nth-of-type(odd) {
    //background: #555;
    text-align: right;
  }
  >div {
    width: 1000px;
    margin: 0 auto;
    &.title {
      font-size: 45pt;
      padding: 40px;
      color: @color-main;
    }
    &.content {
      color: @color-main;
      font-size: @font-size-main;
      img {
        &.musician {
          width: 100%;
        }
      }
      form {
//        background: #333;
        width: auto;
        padding-top: 20px;
        ul li{
          list-style: none;
          padding: 4px;
          font-size: @font-size-big;
          label {
            padding-right: 10px;
            text-align: left;
            width: 200px;
            display: inline-block;
            vertical-align: top;
          }
          input, textarea {
            background: none;
            border: 1px solid rgba(255,255,255,0.3);
            padding: 8px;
            color: @color-main;
            width: 300px;
            max-width: 300px;
            &[type="submit"] {
              background: rgba(255,255,255,0.1);
              cursor: pointer;
              margin-top: 8px;
              width: 218px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

div.image_spacer {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  img {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

footer {
  background: @body-background;
  ul {
    padding: 20px;
    margin: 0 auto;
    color: @color-main;
    list-style: none;
    text-align: center;
    li {
      margin: 4px;
      a {
        color: @color-main;
        text-decoration: none;
        &:hover {
          color: @color-light;
        }
      }
    }
  }
}

.float_container {
  clear: both;
  width: 100%;
  >.small {
    width: 30%;
  }
  >.wide {
    width: 70%;
  }
  >.left {
    float: left;
  }
  >.right {
    float: right;
  }
  &:after {
    content:'';
    display:block;
    clear: both;
  }
}
