* {
  font-family: Arial;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding-top: 80px;
}
header {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background: linear-gradient(#999999, #444444 10%, #111111);
}
header div#nav {
  float: right;
}
header div#nav a {
  float: left;
  color: #DDD;
  line-height: 80px;
  text-decoration: none;
  padding-right: 40px;
  font-size: 20px;
}
section {
  padding: 80px 0px;
  background: #111111;
}
section:nth-of-type(odd) {
  text-align: right;
}
section > div {
  width: 1000px;
  margin: 0 auto;
}
section > div.title {
  font-size: 45pt;
  padding-bottom: 20px;
  color: #666666;
}
section > div.content {
  color: #555;
}
section > div.content img.musician {
  width: 100%;
}
div.image_spacer {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
div.image_spacer img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
footer {
  background: #111111;
}
footer ul {
  padding: 20px;
  margin: 0 auto;
  color: #666666;
  list-style: none;
  text-align: center;
}
footer ul li {
  margin: 4px;
}
footer ul li a {
  color: #666666;
  text-decoration: none;
}
.float_container {
  clear: both;
  width: 100%;
}
.float_container > .small {
  width: 30%;
}
.float_container > .wide {
  width: 70%;
}
.float_container > .left {
  float: left;
}
.float_container > .right {
  float: right;
}
.float_container:after {
  content: '';
  display: block;
  clear: both;
}
